In [3]:
!pip -q install trino pandas psycopg2-binary

In [4]:
TRINO_HOST = "localhost"
TRINO_PORT = 8080
TRINO_USER = "guest"
TRINO_HTTP_SCHEME = "http"

In [5]:
import trino
import pandas as pd

conn = trino.dbapi.connect(
    host=TRINO_HOST,
    port=TRINO_PORT,
    user=TRINO_USER,
    http_scheme=TRINO_HTTP_SCHEME,
)

cur = conn.cursor()
cur.execute("SELECT 1 AS ok")
cur.fetchall()

[[1]]

In [6]:
cur.execute("SHOW CATALOGS")
catalogs = [r[0] for r in cur.fetchall()]
catalogs

['postgresql', 'system']

In [7]:
cur.execute("SHOW SCHEMAS FROM postgresql")
schemas = [r[0] for r in cur.fetchall()]
schemas[:50]

['information_schema', 'pg_catalog', 'public']

In [8]:
schema = "public"

cur.execute(f"SHOW TABLES FROM postgresql.{schema}")
tables = [r[0] for r in cur.fetchall()]
tables

['users']

In [9]:
query = """
SELECT id, name, age
FROM postgresql.public.users
ORDER BY id
LIMIT 10
"""

cur.execute(query)
rows = cur.fetchall()
cols = [d[0] for d in cur.description]

df = pd.DataFrame(rows, columns=cols)
df

   id     name  age
0   1    Alice   30
1   2      Bob   25
2   3  Charlie   35

In [10]:
query = """
SELECT count(*) AS cnt
FROM postgresql.public.users
"""

cur.execute(query)
rows = cur.fetchall()
cols = [d[0] for d in cur.description]

pd.DataFrame(rows, columns=cols)

   cnt
0    3